@import "tailwindcss";

@font-face {
    font-family: "Comfortaa";
    src: url("/fonts/Comfortaa-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Comfortaa";
    src: url("/fonts/Comfortaa-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Comfortaa";
    src: url("/fonts/Comfortaa-Bold.ttf") format("truetype");
    font-weight: 700;
}

@layer base {
    :root {
        --background: 210 17% 98%;
        --foreground: 222.2 84% 4.9%;
    }

    .dark {
        --background: 219 37% 17%;
        --foreground: 210 40% 98%;
    }
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
    * {
        border-color: hsl(var(--border));
    }

    body {
        font-family: "Comfortaa", sans-serif;
        background-color: hsl(var(--background));
        color: hsl(var(--foreground));
    }
}
